:root {
    --theme-bl: #235690;
    --theme-rd: #D90148;
    --theme-wh: white;
    --bl-txt: #0269B3;
    --bg-rd: #B20000;
    --hov-rd: #cb2323;

    --mid-bl: #5B95D7;
    --light-bl: #cedff3;
    --dark-bl: #143152;
}

.container {
    text-align: center;
    margin: 20px;
}

p {
    color: var(--theme-bl);

    &#win-counter {
        font-size: 20px;
        font-weight: 800px;
        margin-bottom: 10px;
    }

    &#status {
        font-size: 16px;
        margin-top: 5px;
    }
}

#board {
    display: grid;
    width: fit-content;
    height: fit-content;

    grid-template: repeat(3, 150px) / repeat(3, 150px);
    grid-gap: 10px;

    background-color: var(--theme-bl);
    margin: 30px auto;
}

#board .box {
    background-color: white;
}

